{% load static %}
<div class="container copyfoot">
    <div class="copyhold">
        <div class="copyright">
            <span>Copyright © 2013</span> <br>
            <span>bootstrap ecommerce shopping template</span>
        </div>
        <div class="copyright1">
            <img src="{% static '' %}images/maestro.png" alt="">
            <img src="{% static '' %}images/mc.png" alt="">
            <img src="{% static '' %}images/pp.png" alt="">
            <img src="{% static '' %}images/visa.png" alt="">
            <img src="{% static '' %}images/disc.png" alt=""> 
        </div>
        <div class="gototop">
            <a href="#top"><img src="{% static '' %}images/Untitled-1.jpg" alt="" height="30px" width="30px"></a>
        </div>
    </div>
</div>