<div class="container-fluid top" id="top">
    <div class="icon">
        <div class="social">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </div>
        <div class="social">
            <i class="fa fa-facebook" aria-hidden="true"></i>
        </div>
        <div class="social">
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        <div class="social">
            <i class="fa fa-tumblr" aria-hidden="true"></i>
        </div>
    </div>
    <a href="{% url 'index' %}" class="active"><i class="fa fa-home" aria-hidden="true"></i>Home</a>
    <a href="{% url 'loginform' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
    <a href="{% url 'registerform' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Free Register</a>
    <a href=""><i class="fa fa-envelope" aria-hidden="true"></i>Contact us</a>
    <a href=""><i class="fa fa-info-circle" aria-hidden="true"></i>About Us</a>
        
    
    
    <!-- {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-{{message.tags}}" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %} -->
        
</div>